.idea
linux-kernel-labs/src/linux
linux-kernel-labs/modules/nfsroot/root/.*
linux-kernel-labs/modules/nfsroot/root/hello/*
!linux-kernel-labs/modules/nfsroot/root/hello/*.c
!linux-kernel-labs/modules/nfsroot/root/hello/*.h
!linux-kernel-labs/modules/nfsroot/root/hello/Makefile
linux-kernel-labs/modules/nfsroot/root/debugging/*
!linux-kernel-labs/modules/nfsroot/root/debugging/*.c
!linux-kernel-labs/modules/nfsroot/root/debugging/*.h
!linux-kernel-labs/modules/nfsroot/root/debugging/Makefile
linux-kernel-labs/modules/nfsroot/root/nunchuk/*
!linux-kernel-labs/modules/nfsroot/root/nunchuk/*.c
!linux-kernel-labs/modules/nfsroot/root/nunchuk/*.h
!linux-kernel-labs/modules/nfsroot/root/nunchuk/Makefile
linux-kernel-labs/modules/nfsroot/root/serial/*
!linux-kernel-labs/modules/nfsroot/root/serial/*.c
!linux-kernel-labs/modules/nfsroot/root/serial/*.h
!linux-kernel-labs/modules/nfsroot/root/serial/Makefile









